body { /*Ho messo body perché rende meglio l'idea*/
    color: white;
    background-color: black;
}

.container {
    display: flex;
    justify-content: right;
    background-color: #ffffff66;
}

.test-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 30px;
    transition: all 1s
}

.text  {
    margin-top: 30px;
    margin-left: 30px;
    transition: all 1s;
}

footer {
    margin-left: 30px;
}

#Caps {
    text-transform: uppercase;
}

#Linking {
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    
}

#Linking:hover {
    color: black;
    background-color: white;
    
    transition: all 0.4s;
}

.container:hover {
    background-color: #ffffffaa;
    transition: 0.3s;
}
