html {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    justify-content: right;
}

.test-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 30px;
    transition: 1s
}

.text  {
    margin-top: 30px;
    margin-left: 30px;
    transition: 1s;
}